.turf-registration-container {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 0 auto; /* Center align the container */
}

.turf-registration-container h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.turf-registration-container .input-box {
  margin-bottom: 15px;
}

.turf-registration-container .input-box input,
.turf-registration-container .input-box textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.turf-registration-container .games-checkboxes {
  margin: 20px 0;
}

.turf-registration-container button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.turf-registration-container button:hover {
  background-color: #f0f0f0;
}
